<app-admin-sidebar></app-admin-sidebar>

<div class="container">
  <div class="row">
    <div class="col-md-2 d-none d-md-block"></div>
    <div class="col-md-10 d-none d-md-block">
      <h3>Set Current Status</h3>
      <form>
        <div class="form-group">
          <label>Examination Year</label>
          <input type="number" class="form-control" placeholder="Enter examination year">
        </div>
        <div class="form-group">
          <label>Examination Semester</label>
          <select class="form-control">
            <option>1</option>
            <option>2</option>
          </select>
        </div>
        <input type="submit" class="btn btn-outline-dark" value="Submit">
      </form>
    </div>
  </div>
</div>
