<div class="container">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block  sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/add-exam" routerLinkActive="active">Add Undergraduate Exams</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/add-postgraduate-exam" routerLinkActive="active">Add Postgraduate Exams</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/add-user" routerLinkActive="active">Add User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/add-current-status" routerLinkActive="active">Set Current Status</a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Make reports</span>
          <a class="d-flex align-items-center text-muted" href="">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">Current Semester</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Current Year</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
