<div class="jumbotron text-center">
  <h1>University of Colombo School of Computing</h1>
  <h2>Exam Registration Portal</h2>
  <h5>Register your self for the coming final exams!</h5>
  <div class="">
    <a *ngIf="!authService.loggedIn()" class="btn btn-outline-dark" routerLink="login">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Undergraduate Students</h3>
    <p>Undergraduate Students can register for the end semester examinations through this portal. Just login through you
      username and password and simply register for relevant courses.</p>
  </div>
  <div class="col-md-4">
    <h3>Postgraduate Students</h3>
    <p>Postgraduate Students who are doing Masters at UCSC can register for the end semester examinations through this
      portal. Just login through you
      username and password and simply register for relevant courses.</p>
  </div>
  <div class="col-md-4">
    <h3>Repeat Students</h3>
    <p>Repeat Students can apply for repeat examinations through this portal. Simply follow instructions for
      Undergraduate Students or Postgraduate Students</p>
  </div>
</div>

