<app-admin-sidebar></app-admin-sidebar>

<div class="container">
  <div class="row">
    <div class="col-md-2 d-none d-md-block"></div>
    <div class="col-md-10 d-none d-md-block">
      <h3>Add User</h3>
      <form (submit)="onRegisterSubmit(); myForm.reset()" #myForm="ngForm">
        <div class="form-group">
          <label>Full Name <span class="red">*</span></label>
          <input type="text" class="form-control" placeholder="Enter full name" [(ngModel)]="name" name="name">
        </div>
        <div class="form-group">
          <label>Email address <span class="red">*</span></label>
          <input type="email" class="form-control" placeholder="Enter email" [(ngModel)]="email" name="email">
        </div>
        <div class="form-group">
          <label>Registration Number <span class="red">*</span></label>
          <input type="text" class="form-control" placeholder="Enter registration number"
                 [(ngModel)]="registration_number" name="registration_number">
        </div>
        <div class="form-group">
          <label>Index Number <span class="red">*</span></label>
          <input type="number" class="form-control" placeholder="Enter index number" [(ngModel)]="index_number"
                 name="index_number">
        </div>
        <div class="form-group">
          <label>Year Enrolled <span class="red">*</span></label>
          <input type="text" class="form-control" placeholder="Enter year enrolled (2018)" [(ngModel)]="year"
                 name="year">
        </div>
        <div class="form-group">
          <label>User Type<span class="red">*</span></label>
          <select class="custom-select" [(ngModel)]="type" name="type" >
            <option selected value="1">Undergraduate</option>
            <option value="2">Postgraduate</option>
            <option value="3">Admin</option>
          </select>
        </div>
        <input type="submit" class="btn btn-outline-dark" value="Register">
      </form>
    </div>
  </div>
</div>
