<app-admin-sidebar></app-admin-sidebar>

<div class="container">
  <div class="row">
    <div class="col-md-2 d-none d-md-block"></div>
    <div class="col-md-10 d-none d-md-block">
      <h3>Add User</h3>
      <form>
        <div class="form-group">
          <label>Full Name</label>
          <input type="text" class="form-control" placeholder="Enter full name">
        </div>
        <div class="form-group">
          <label>Email address <span class="red">*</span></label>
          <input type="email" class="form-control" placeholder="Enter email" required>
        </div>
        <div class="form-group">
          <label>Registration Number <span class="red">*</span></label>
          <input type="text" class="form-control" placeholder="Enter registration number" required>
        </div>
        <div class="form-group">
          <label>Index Number</label>
          <input type="number" class="form-control" placeholder="Enter index number">
        </div>
        <div class="form-group">
          <label>Year Enrolled</label>
          <input type="text" class="form-control" placeholder="Enter year enrolled (2018)">
        </div>
        <input type="submit" class="btn btn-outline-dark" value="Register">
      </form>
    </div>
  </div>
</div>
