<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/">Exam Registration</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/"
                              [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
      <li class="nav-item"><a *ngIf="authService.isAdmin()" class="nav-link" routerLinkActive="active"
                              routerLink="admin/dashboard">Dashboard</a></li>
      <li class="nav-item"><a *ngIf="authService.isUndergraduate()" class="nav-link" routerLinkActive="active"
                              routerLink="student/dashboard">Dashboard</a></li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link" *ngIf="authService.loggedIn()" href="#"
                              (click)="onLogoutClick()">Logout</a></li>
    </ul>
  </div>
</nav>
